= simple_form_for(@provider) do |f|
  .input-fields
    = f.input :name
    = f.input :address
    = f.input :phone
    = f.input :email
    = f.association :services
  .actions.text-right
    = f.button :submit, class: 'btn btn-primary'
