.panel.panel-default
  .panel-heading
    %h1.panel-title Providers List
  %table.table
    %thead
      %tr
        %th Name
        %th Address
        %th Phone
        %th Email
        %th
    %tbody
      - @providers.each do |provider|
        %tr
          %td= provider.name
          %td= provider.address
          %td= provider.phone
          %td= provider.email
          %td.text-right
            .btn-group
              = link_to 'View', provider, class: 'btn btn-default'
              = link_to 'Edit', edit_provider_path(provider), class: 'btn btn-primary'
              = link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

= render 'sidebar'
