.panel.panel-default
  .panel-heading
    %h1.panel-title= @provider.name
  .panel-body
    %p
      %strong Address:
      = @provider.address
    %p
      %strong Phone:
      = @provider.phone
    %p
      %strong Email:
      = @provider.email

= render 'sidebar'
