.panel.panel-default
  .panel-heading
    %h1.panel-title= @provider.name
  .panel-body
    %dl.dl-horizontal
      %dt Address:
      %dd{ style: 'white-space: pre-line;' }= @provider.address
      %dt Phone:
      %dd= @provider.phone
      %dt Email:
      %dd= @provider.email
      %dt Services:
      %dd= @provider.services.pluck(:name).join(', ')

= render 'sidebar'
