= simple_form_for(@outage_report) do |f|
  = f.error_notification
  .form-inputs
    = f.association :service, input_html: { data: { behavior: 'select2' } }
    = f.association :provider
    = f.input :location
    = f.input :address
    = f.input :notes
    = f.input :started_at
  .form-actions
    = f.button :submit
