= simple_form_for(@outage_report) do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-sm-6
        = f.association :service, input_html: { data: { behavior: 'select2' } }
      .col-sm-6
        = f.association :provider
    = f.input :location
    = f.input :address
    = f.input :notes
    = f.input :started_at
  .form-actions
    .row
      .col-sm-6
        %button.btn.btn-default.btn-block{ type: 'button', data: { toggle: 'collapse', dismiss: 'modal', target: '#report-form' } }
          Cancel
      .col-sm-6
        = f.button :submit, class: 'btn btn-primary btn-block'
