.panel.panel-default
  .panel-heading
    %h1.panel-title Outage reports

  %table.table.table-striped
    %thead
      %tr
        %th Service
        %th Provider
        %th Location
        %th Address
        %th Notes
        %th Started at
        %th Ended at
        %th{:colspan => "3"}
    %tbody
      - @outage_reports.each do |outage_report|
        %tr
          %td= outage_report.service
          %td= outage_report.provider
          %td= outage_report.location
          %td= outage_report.address
          %td= outage_report.notes
          %td= outage_report.started_at
          %td= outage_report.ended_at
          %td= link_to 'Show', outage_report
          %td= link_to 'Edit', edit_outage_report_path(outage_report)
          %td= link_to 'Destroy', outage_report, method: :delete, data: { confirm: 'Are you sure?' }

= render 'sidebar'
