.panel.panel-default
  .panel-heading
    %h1.panel-title Outage report
  #map.half-screen
    %layer{ data: { type: 'geojson', url: outage_report_path(@outage_report, :geojson) } }
      %popup.hidden
        %h1 Outage :: {{service.name}}
        %p
          %strong Provider:
          {{provider.name}}
        %p
          %strong Reported:
          {{reported}}

  .panel-body
    %dl.dl-horizontal
      %dt Service:
      %dd= @outage_report.service
      %dt Provider:
      %dd= @outage_report.provider
      %dt Location:
      %dd= @outage_report.location
      %dt Address:
      %dd{ style: 'white-space: pre-line;'}= @outage_report.address
      - if @outage_report.notes.present?
        %dt Notes:
        %dd= @outage_report.notes
      %dt Started at:
      %dd= @outage_report.started_at
      - if @outage_report.ended_at?
        %dt Ended at:
        %dd= @outage_report.ended_at

= render 'sidebar'
