%p#notice= notice
%p
  %strong Service:
  = @outage_report.service
%p
  %strong Provider:
  = @outage_report.provider
%p
  %strong Location:
  = @outage_report.location
%p
  %strong Address:
  = @outage_report.address
%p
  %strong Notes:
  = @outage_report.notes
%p
  %strong Started at:
  = @outage_report.started_at
%p
  %strong Ended at:
  = @outage_report.ended_at
= link_to 'Edit', edit_outage_report_path(@outage_report)
|
= link_to 'Back', outage_reports_path
