<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @outage_report.service %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @outage_report.provider %>
</p>

<p>
  <strong>Location:</strong>
  <%= @outage_report.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @outage_report.address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @outage_report.notes %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @outage_report.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @outage_report.ended_at %>
</p>

<%= link_to 'Edit', edit_outage_report_path(@outage_report) %> |
<%= link_to 'Back', outage_reports_path %>
