%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Utility feeds', root_url, class: 'navbar-brand'

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          = link_to '#manager-menu', data: { toggle: 'dropdown' } do
            Manager
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Providers', providers_path
            %li= link_to 'Services', services_path
        %li.dropdown
          = link_to '#filter-services', data: { toggle: 'dropdown' } do
            %i.fa.fa-fw.fa-search
            Filter by service
          %ul.dropdown-menu
            - Service.find_each do |service|
              %li= link_to service.name, service_outage_reports_path(service.name)

        %li.dropdown
          = link_to '#report', data: { toggle: 'dropdown' } do
            Report Outage
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Use current location', '#report', data: { behavior: 'report-outage', location: 'current' }
            %li= link_to 'Pick location', '#report', data: { behavior: 'report-outage', location: 'marker' }
